*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

  }
.octodex{
  height: 500px;
  position:relative;
  font-family: arial;
  font-size: 15px;
}
.octocat img{
  border: solid lightgrey 2px;
  height: 325px;
  width: 325px;
  margin-bottom: 7px;
  border-radius: 3px;
	position: relative;
}
.authors img{
  height: 24px;
  width: 24px;

}

/*.image-footer::after{
content: " ";
width: 0;
height: 0;
border-style: solid;
border-width: 10px 5px 0 5px;
border-color: #969696 transparent transparent transparent;
position: absolute;
top:325px;
}
*/

.image-caption{
float:right;
padding-left: 5px;

}

.image-number{
  float:left;
  display: inline;
}

.image-number::before{
	content: "#";
	color: grey;
}

.octocat{
  float:left;
  margin-right: 15px;
  border-bottom: solid 2px lightgrey;
}

li{
  list-style-type: none;
}

ul{
  float: left;
}

ul .authors{
  float: right;
  padding-left: 10px;
}
a{
  text-decoration: none;
  color: black;
}

span{
  color:grey;
}
